.title
{
	text-align: center;
	padding: 72px 0 52px 0;
}

.title h1
{
	font-size: 50px;
}

.nav-tabs
{
	text-align: center;
	width: 100%;
	font-size:0;
}

.nav-tabs > li
{
	font-size: 13px;
	float:none;
	display: inline-block;
}

.nav-tabs>li>a
{
	border-radius: 0;
}

.container
{
	position: relative;
	padding-top: 30px;
}

.thumbnail-image
{
	width: 100%;
}

.model-title
{
	font-size: 28px;
	padding: 5px 35px;
	position: absolute;
	left: 5px;
	top: 5px;

	border: 1px solid #555;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	
	cursor: pointer;	
	
	-moz-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.model-title:HOVER {
	background-color: black;
}

.category
{
	margin-bottom: 60px;
}

.category h2, .category h3
{
	color: #333;
}

.category h3
{
	font-size: 20px;
}

.signin-container
{
	position: absolute;
	right: 25px;
	top: 15px;
}

.signin-container a
{
	margin: 0 5px;
}