.card
{
	position: absolute;
	width: 33.33333%;
	display: none;
	
	margin-bottom: 30px;
}

.container > .row
{
	margin-top: 30px;
	margin-bottom: 30px;
}

.container > .row > div
{
	padding:0 5px;
}

.article-container
{
	border: 1px solid #dfdfdf;
}

.article-subject
{
	padding: 15px;
	border-bottom: 1px solid #dfdfdf;
	background-color: #f7f7f7;
	
	position: relative;
	
	min-height: 50px;
}

.article-tag
{
	padding: 5px;
	border-top: 1px solid #dfdfdf;
}

.article-subject h2
{
	font-size: 20px;
	margin: 0;
}

.article-corver
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.article-corver:HOVER
{
	border: 1px solid #aaa;
}

.icons
{
	float: right;
	margin: -2px -8px 5px 5px;
}

.icons span
{
	padding: 0 2px;
	font-size: 12px;
}

.article-content
{
	overflow: hidden;
	padding: 10px;
	max-height: 500px;
}

.article-content img
{
	width: 100%;
	margin-bottom: 15px;
}

.article-tag span
{
	padding: 5px;
}