.textinput
{
    width: 100%;
    padding: 10px;
    font-size:17px;
    border: 1px solid #dedede;
}

#tag-area span
{
    cursor: pointer;
}

.tagList
{
	margin-top: 20px;
}

.list-group .active a
{
	color: white;
}