.navbar-default
{
	height: 80px;
	background: #fff;
	padding: 10px 0;
}

.container-fluid, .navbar-header, .navbar-brand
{
	height: 100%;
}

.navbar-brand
{
	padding-top:0;
	padding-bottom:0;
}

.navbar-nav>li>a
{
	padding-top: 18px;
	padding-bottom: 18px;
}

.navbar-right a
{
	font-weight: bold;
}

header img
{
	opacity: 0.8;
}

header img:HOVER
{
	opacity: 1;
}

.container
{
	width: 1080px;
	padding:0;
}

.thumbnailContainer
{
	margin-left: -2.5px;
	margin-right: -2.5px;
}

.thumbnailContainer > div
{
	padding: 2.5px;
	position: relative;
	height: 170px;
	overflow: hidden;
}

.thumbnailContainer img
{
	width: 100%;
	height: 100%;
	outline: 1px solid #ccc;
	padding: 2.5px;
}

.thumbnailContainer .caption
{
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
	
	margin:0;
	
	height: 30px;
	
	background: transparent;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	
	text-align: center;
	
	font-size: 12px;
	
	line-height: 30px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}