.background
{
	background-color: #f7f7f7;
	
	padding: 20px 51px;
}

.teacherBackground img
{
	width: 100%;
}

.teacherName
{
	color: white;
    margin: 0;
    padding: 10px;
    background-color: black;
    margin-bottom: 15px;
}