*
{
	color: #565656;
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}

.container, .container-fluid
{
	padding:0;
}

.nav-header
{
	position: fixed;
	width: 100%;
	background-color: #fefefe;
	z-index: 1000;
	border-bottom: 1px solid #dfdfdf;
}

.nav-header .navbar
{
	background: #fefefe;
	border-radius:0;
	box-shadow:none;
	border:0;
	margin:0;
}

.navbar-default .navbar-nav>.active>a
{
	background: #e7e7e7;
	box-shadow: none;
}

.navbar-brand, .navbar-nav>li>a
{
	text-shadow: none;
}

.navbar-default .navbar-brand
{
	font-size:22px;
	color:#444;
}

.contnetContainer
{
	padding-top: 50px;
}

.jumbotron
{
	background-color: #183F66;
	padding: 35px 0;
}

.jumbotron h1, .jumbotron p
{
	color: #efefef;
}

.jumbotron p
{
	margin:15px 0;
}

.jumbotron p
{
	font-size:17px;
}

.btn
{
	border-radius:0;
}

.btn-outline
{
	color: #efefef;
	background-color: transparent;
	border-color:#dfdfdf;
}

.btn-outline:HOVER {
	background-color: #efefef;
	border-color: #a0a0a0;
	color:#333;
}

.btn-outline span
{
	font-size:18px;
}

.btn-outline span, .btn-outline small
{
	color: inherit;
}

.btn-outline small
{
	font-size:12px;
}

.btn-outline.black
{
	color:#555;
}

.btn-outline.black:HOVER
{
	color:black;
}

.doc
{
	padding:15px 0;
}

.doc h2
{
	font-size:24px;
}

.doc h3
{
	font-size:20px;
}

.doc h4
{
	font-size: 16px;
}

.feature
{
	font-size:0;
}

.feature > div
{
	display:inline-block;
	width:15%;
	font-size:15px;
	vertical-align: top;
}

.feature > div:FIRST-CHILD
{
	width: 85%;
	padding-right: 10px;
}

.feature > div p
{
	margin:0;
	padding: 10px 0;
}

.feature > div dl
{
	padding-top: 10px;
}

.feature > div dl dt
{
	font-weight: normal;
}

.feature > div dl dd
{
	padding-top: 5px;
}

.feature .right
{
	text-align: center;
}

footer
{
	border-top: 1px solid #dfdfdf;
	text-align: center;
	padding: 40px;
	clear: both;
}

footer p
{
	margin:0;
	padding: 2px 0;
}

footer p a
{
	margin:0 2.5px;
}

.description li
{
	font-size: 15px;
	padding: 10px;
}

#contentList li, #contentList ul
{
	list-style: none;
}

#contentList li
{
	margin:5px 0;
	padding-left: 10px;
}

#contentList ul
{
	padding-left: 10px;
	display:none;
}

#contentList li a
{
	padding-left: 10px;
	color:#666;
}

#contentList li.selected > a
{
	border-left: 2px solid #337ab7;	
}

#contentList li.selected > a
{
	color:#337ab7;
}

.dataTable
{
	width: 100%;
}

.dataTable th
{
	padding: 10px;
	font-size: 13px;
	border: 1px solid #dfdfdf;
}

.dataTable td
{
	padding: 10px;
	font-size: 13px;
	border: 1px solid #dfdfdf;
}

.dataTable .left
{
	text-align: left;
}

.dataTable .center
{
	text-align: center;
}

.dataTable .right
{
	text-align: right;
}

.textinput
{
	padding:5px;
	border: 1px solid #dfdfdf;
}

.textinput:FOCUS, .textinput:ACTIVE
{
	outline: 2px solid #ccc;
}

.typewriter-content
{
	height: 400px;
	overflow: auto;
}

.horizontalContainer
{
	font-size:0;
}

.horizontalContainer > *
{
	display:inline-block;
	font-size: 12px;
}