.article
{
	margin: 25px auto;
}

.article h3
{
	position: relative;
}

.article h3 small
{
	position: absolute;
	
	right:0px;
	bottom: 10px;
	
	font-size:12px;
}

.typewriter-content
{
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 10px;
}