body
{
	margin:0;
}

*, a
{
	color: #444;
}

a
{
	text-decoration: none;
}

.header
{
	background-color: black;
}

.header .title
{
	margin:0;
	padding: 5px 0;
}

.header .menu
{
	margin:0;
}

.header .menu-item
{
	display: inline-block;
}

.header .menu-item > a
{
	font-size: 15px;
}

.side
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 250px;
	background-color: black;
	display:none;
}

.side a:HOVER
{
	color: #ccc;
}

.title
{
	color: white;
	text-align: center;
	font-size: 36px;
}

.title > a
{
	color: white;
}

.menu
{
	padding-left:0;
	margin-bottom: 20px;
	margin-top: 30px;
	text-align: center;
}

.menu-item
{
	padding: 10px 15px;
}

.menu-item > a
{
	color: white;
	font-size: 20px;
}

.small .menu-item > a
{
	font-size: 14px;
}

.menu-arrow
{
	position: absolute;
	left: 230px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid white;
}

.card
{
	width: 380px;
	position: relative;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size:0;
	cursor: pointer;
	
	left:0;
	top:0;
	
	margin:0 auto;
	
	transition: all 1s;
}

.card-container
{
	position: relative;
}

.card-thumbnail
{
	width: 100%;
	opacity: 0.7;
	min-height: 300px;
/* 	-webkit-filter: grayscale(50%); */
/* 	-moz-filter: grayscale(50%); */
/*   	-ms-filter: grayscale(50%); */
/*   	-o-filter: grayscale(50%); */
/*   	filter: grayscale(50%); */
/*   	filter: url(grayscale.svg); Firefox 4+ */
/*   	filter: gray; IE 6-9 */
}

.card:HOVER .card-thumbnail
{
	filter:none;
	-webkit-filter:none;
	opacity: 1;
}

.card-info
{
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
}

.card-subject
{
	color: white;
	margin: 0;
	font-size: 18px;
}

.card-writer
{
	color: white;
	text-align: right;
	margin:0;
	font-size: 14px;
}

@media (min-width:800px)
{
	.header
	{
		display: none;
	}
	
	.side
	{
		display: block;
	}
	
	.card
	{
		position: absolute;
	}
	
	.main
	{
		position: absolute;
		min-width: 400px;
		left: 250px;
		right: 0;
	}
}