.article
{
	width: 80%;
	max-width: 1000px;
	margin:0 auto;
	padding-top: 30px;
}

.textinput
{
    width: 100%;
    padding: 10px;
    font-size:17px;
    border: 1px solid #dedede;
}

#tag-area span
{
    cursor: pointer;
}

.tagList
{
	margin-top: 20px;
}

.list-group .active a
{
	color: white;
}

.editor
{
	width: 100%;
	height: 700px;
	border: 1px solid #ccc;
	overflow: auto;
	position: relative;
	
	outline:0;
	padding: 10px;
	
	font-size: 16px;
}

.editor .thumbnail-image
{
	outline: 2px dashed #337ab7;
}

#toolbar
{
	text-align: center;
	z-index: 1000;
	background-color: white;
}

#imageWidth, #imageHeight
{
	width: 80px;
	padding: 4px;
	font-size: 14px;
}

.bar
{
	display: inline-block;
	width: 1px;
	height: 15px;
	
	vertical-align: middle;
	
	background-color: #ccc;
	
	margin: 0 10px;
}