.article
{
	width: 80%;
	max-width: 1000px;
	margin:0 auto;
	padding-top: 30px;
}

.textinput
{
    width: 100%;
    padding: 10px;
    font-size:17px;
    border: 1px solid #dedede;
}

#tag-area span
{
    cursor: pointer;
}

.tagList
{
	margin-top: 20px;
}

.list-group .active a
{
	color: white;
}

.editor
{
	width: 100%;
	height: 500px;
	border: 1px solid #ccc;
	overflow: auto;
	position: relative;
	
	outline:0;
	padding: 10px;
	
	font-size: 16px;
}